/*-- scss:defaults --*/
$headings-color: #0D2734;
$link-color: #F18C22;

/*-- scss:rules --*/

pre.sourceCode {
    background-color: #87CBCC;
}

pre code {
    background-color: #87CBCC;
    font-size: inherit;
    color: inherit;
    word-break: normal;
}